*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.announcement-bar{
	background: #000;
	pointer-events: none;
}
.announcement-bar .bar-inner{
	max-width: 1000px;
	margin: auto;
	width: 100%;
}
.announcement-bar .bar-inner .container h1{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 17px;
	text-align: center;
	padding: 10px 0 11px 0;
	margin: 0;

}
.announcement-bar .bar-inner .container ul li{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 800;
	font-size: 17px;
	text-align: center;
	padding: 7.99px 0px !important;

}

.main-header .header-inner .icon {
  		max-width: 17px !important;
  		width: 100%;
	}
/*--- header-css -----*/

.main-header .header-inner{
	padding: 10px 0;
	background: #fff;
}
.main-header .header-inner .container{
	max-width: 1200px;
}
.main-header .header-inner .d-flex .header-left{
	width: 42%;
}
.main-header .header-inner .d-flex .header-left .navigation ul{
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: flex-start;
	padding: 0;
	flex-wrap: wrap;
	margin: 0;
}
.main-header .header-inner .d-flex .header-left .navigation ul li{
	display: block;
	list-style: none;
	margin: 15px;
	position: relative;
}
.main-header .header-inner .d-flex .header-left .navigation ul li a{
	text-decoration: none;
	color: #535353;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	/*padding: 15px;*/
	position: relative;
	overflow: hidden;
	transition: all .2s ease-in-out;

}

.main-header .header-inner .d-flex .header-left .navigation ul li .page-on{
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 10;
	display: inline;
	width: 120px;
	/* min-height: 100px; */
	height: auto;
	background: rgb(255, 255, 255);
	box-shadow:12px 12px 17px 0px rgba(87, 87, 87, 0.3) inset,
	-8px -8px 10px 0px rgba(182, 182, 182, 0.3) inset;
	padding: 10px !important;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	border-radius: 4px;
}
.main-header .header-inner .d-flex .header-left .navigation ul li:hover .page-on{
	opacity: 1;
	visibility: visible;
}
.main-header .header-inner .d-flex .header-left .navigation ul li ul.page-on li{
	margin: 0 0 5px 0 !important;
	display: block;

}


.main-header .header-inner .d-flex .header-left .navigation ul li a:hover{
	color: #000000;
}
.main-header .header-inner .d-flex .header-left .navigation ul li a:after{
	position: absolute;
	width: 0;
	height: 1px;
	background: #000000;
	content: '';
	display: block;
	transition: all .2s ease-in-out;
	left: 0;
	bottom: -6px;
}
.main-header .header-inner .d-flex .header-left .navigation ul li a:hover:after{
	width: 100%;
} 
.main-header .header-inner .d-flex .header-mdl{
	width: 16%;
	margin: auto;
}
.main-header .header-inner .d-flex .header-mdl .brand-logo{
	max-width: 90px;
	width: 100%;
	margin: auto;
}
.main-header .header-inner .d-flex .header-mdl .brand-logo img{
	width: 100%;
}
.main-header .header-inner .d-flex .header-right{
	width: 42%;
}
.main-header .header-inner .d-flex .header-right .header-icons .hicon-main{
	margin-left: 24px;
}
.main-header .header-inner .d-flex .header-right .header-icons .hicon-main  .fa-solid.fa-gear {
  font-size: 17px;
  padding-top: 6px;
  color: #000;
}

.main-header .header-inner .d-flex .header-left .menu-bar{
	display: none;
}
.account-menagemnt .offcanvas{
	padding: 30px 30px 0  !important;
	width: 350px !important;
}
.account-menagemnt .offcanvas .offcanvas-header .account-logo a img{
	width: 90px;
}
.account-menagemnt .offcanvas .account-nav ul{
	padding-top: 20px;
	border-bottom: 0.01rem solid #aaaa;
	padding-bottom: 10px;
}
.account-menagemnt .offcanvas .account-nav ul li{
	margin-bottom: 0px;
}
.account-menagemnt .offcanvas .account-nav ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #969696;
	font-size: 19px;
	font-weight: 400;
	font-family: 'Barlow Condensed', sans-serif;
	display: block;
	padding: 10px 5px;
}
.account-menagemnt .offcanvas .account-nav ul li a:hover{
	background: #f5f5f2;
	color: #000;
}
.account-menagemnt .offcanvas .account-currency{
	max-width: 220px;
	width: 100%;
	margin-top: 45px;
}
.account-menagemnt .offcanvas .account-currency .ac-title{
	font-family: 'Barlow Condensed', sans-serif;
  	font-weight: 700;
  	font-size: 26px;
  	text-transform: capitalize;

}
.account-menagemnt .offcanvas .currency-box{
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	padding: 3px;
	margin-top: 30px;
}
.account-menagemnt .offcanvas .currency-box a {
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 24px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.account-menagemnt .offcanvas .currency-box .active{
	background: #000;
	color: #fff;
}
.account-menagemnt .offcanvas .currency-box a:hover{
	background: #000;
	color: #fff;
}



.offcanvas.offcanvas-start{
	background: #f5f5f5;
	padding: 20px;
}
.offcanvas.offcanvas-start .offcanvas-header{
	justify-content: flex-end;
}
.offcanvas.offcanvas-star .offcanvas-body .responsive-menu ul li{
	display: block;
}
.offcanvas .offcanvas-body .responsive-menu ul li a {
	display: block;
	text-transform: uppercase;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #969696;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
}
.offcanvas .offcanvas-body .responsive-menu ul li a i {
	color: #969696;
	/*background: #ccc;*/
	border-radius: 50%;
	font-size: 28px;
	font-family: 'Barlow Condensed', sans-serif;
	width: 20px;
	height: 21px;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	display: inline-flex;
}
.offcanvas .offcanvas-body .responsive-menu ul li a:hover i{
	color: #000
}
.offcanvas .offcanvas-body .responsive-menu ul li a:hover{
	background: #eae8e8;
	color: #000;
}


.offcanvas .offcanvas-body .cart-logo{
	width: 120px;
	margin: auto;
}
.offcanvas .offcanvas-body .cart-logo img{
	width: 100%;
	pointer-events: none;
}
.offcanvas .offcanvas-body .cart-title{
	font-size: 20px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	text-transform: capitalize;
	color: #eae8e8;
	margin: 0;
	padding-bottom: 12px;
	display: block;
	text-align: center;
	padding-top: 20px;
}

/* mini-cart */

#offcanvasRight-cart{
	overflow-y: auto;
	overflow-x: hidden;
}
.cart{
	padding: 0 24px;
}
.cart .mini-cart-content{
	display: flex;
	justify-content: space-between;
}
.cart .mini-cart-content .mini-cart-img{
	width: 150px;
	height: 100px;
}
.cart .mini-cart-content .mini-cart-img img{
	width: 100%;
}
.cart .mini-cart-content .mini-cart-box {
	padding: 0 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.cart .mini-cart-content .mini-cart-box h1{
	text-transform: uppercase;
	color: #000;
	font-weight: 400;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 17px;
	margin: 0;
	text-align: left;
}
.cart .mini-cart-content .mini-cart-box .mini-price{
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	margin: 0;
	text-align: left; 
}

.cart .mini-cart-content .mini-cart-box .mini-quintity{
	border: 0;
	display: inline-block;
	background: #eeee;
	width: 53px;
	padding: 8px 8px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	outline: none;
}
.cart .mini-cart-content .mini-cart-remove{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  }

  .cart .mini-total{
	float: right;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: large;
	color: #000;
  }
/* end */


.offcanvas.offcanvas-top{
	padding: 20px 45px;
	height: 37vh;
}
.offcanvas.offcanvas-top .offcanvas-header{
	display: flex;
	justify-content: flex-end;
}
form.search-box input{
	outline: none;
	background: grey;
}
form.search-box input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}
form.search-box button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #000;
	color: #fffe;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}






/*home-banner*/
.home-banner .banner-slider{
	overflow: hidden;
}
.home-banner .banner-slider .home-banner-inner img{
	width: 100%;
}
.home-banner .banner-slider .home-banner-inner{
	position: relative;
}
.home-banner .banner-slider .home-banner-inner .banner-contant{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;

}
.home-banner .banner-slider .home-banner-inner .banner-contant h4{
	font-size: 50px;
	font-family: 'Freehand', cursive;
	text-transform: capitalize;
	font-weight: bold;
	color: #000;
	margin: 0;
	/*display: inline;*/
	padding-bottom: 6spx;
}
.home-banner .banner-slider .home-banner-inner .banner-contant h1{
	font-size: 50px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
	margin: 0;
	padding-bottom: 12px;
	display: inline-block;
}
.home-banner .banner-slider .home-banner-inner .banner-contant p{
	font-size: 20px;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #4a4d4f;
	margin: 0;
	padding-bottom: 20px;
}
.home-banner .banner-slider .home-banner-inner .banner-contant a{
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	border: 1px solid #4a4d4f;
	padding: 4px 25px 8px 25px;
	display: inline-block;

}
.home-banner .banner-slider .home-banner-inner .banner-contant a:hover{
	background: #fff;
	color: #000 !important;
}


.home-banner .banner-slider .slick-active h1{
	animation-delay:1s; 
	animation-duration:1.5s; 
	animation-fill-mode: both; 
	animation-name: bounceIn;
}
.home-banner .banner-slider .slick-active h4{
	animation-delay:1.5s; 
	animation-duration:.16s; 
	animation-fill-mode: both; 
	animation-name: fadeInUp;	
}

.home-banner .banner-slider .slick-active p{
	animation-delay:1.8s; 
	animation-duration:1s; 
	animation-fill-mode: both; 
	animation-name: bounceInUp;	
}
.home-banner .banner-slider .slick-active a{
	animation-delay:2s; 
	animation-duration:.4s; 
	animation-fill-mode: both; 
	animation-name: fadeInBottomRight;	
}







.home-banner .banner-slider .fa-solid.fa-angle-left.slick-arrow {
  position: absolute;
  top: 40%;
  left: -30px;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all .4s ease-in-out; 
  opacity: 0;
  visibility: hidden;
}

.home-banner .banner-slider:hover .fa-solid.fa-angle-left.slick-arrow{
	left: 20px;
	opacity: 1;
  	visibility: visible;
}
.home-banner .banner-slider .fa-solid.fa-angle-left.slick-arrow:hover{
	border-color: #aaa;
	background: #eee;
	box-shadow: 0 0 6px -6px #eee;
}
.home-banner .banner-slider .fa-solid.fa-angle-right.slick-arrow {
  position: absolute;
  top: 40%;
  right: -30px;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all .4s ease-in-out; 
  opacity: 0;
  visibility: hidden;
}

.home-banner .banner-slider:hover .fa-solid.fa-angle-right.slick-arrow{
	right: 20px;
	opacity: 1;
  	visibility: visible;
}
.home-banner .banner-slider .fa-solid.fa-angle-right.slick-arrow:hover{
	border-color: #aaa;
	background: #eee;
	box-shadow: 0 0 6px -6px #eee;
}

.home-banner .banner-slider .slick-dots {
  	display: flex;
  	position: absolute;
  	bottom: 0px;
  	text-align: center;
  	justify-content: center;
  	margin: 0;
  	padding: 16px 0;
  	list-style: none;
  	width: 100%;
}
.home-banner .banner-slider .slick-dots li{
	margin: 0 .25rem;
	border-radius: 50%;
	background: #fff !important;
}
.home-banner .banner-slider .slick-dots button{
	display: block;
	width: 12px;
	height: 12px;
	padding: 0;
	border: none;
	border-radius: 50%;
	color: transparent;
	background: #fafafa;
	overflow: hidden;
}
.home-banner .banner-slider .slick-dots li.slick-active button{
	background: tomato;
} 




/*------- home-on-tra -------*/

.home-on-tra{
	padding: 45px 0;
}
.home-on-tra .hon-tra-img a{
	position: relative;
	overflow: hidden;
	display: block;
	transform: scale(1);
	transition: all .6s ease-in-out;
}
.home-on-tra .hon-tra-img .hover-effect{
	width: 100%;
	overflow: hidden;
	transform: scale(1);
	transition: all .3s ease-in-out;
}
.home-on-tra .hon-tra-img .content-ht{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	transform: scale(1);
	transition: all .3s ease-in-out;
}
.home-on-tra .hon-tra-img .content-ht h1{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 600;
	font-size: 26px;
	text-align: center;
	padding: 10px 0 11px 0;
	margin: 0;
	text-transform: capitalize;
}
.home-on-tra .hon-tra-img .content-ht .new-arraivel-title-h6{
	background: #000;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 500;
	font-size: 17px;
	text-align: center;
	padding: 6px 20px 10px 20px;
	display: inline-block;
	margin: 0;
	text-transform: capitalize;
}
.home-on-tra .hon-tra-img .content-ht .new-arraivel-title{
	font-size: 52px;
}

.home-on-tra .hon-tra-img a:hover .hover-effect{
	transform: scale(1.06);
}
.home-on-tra .hon-tra-img a:hover .content-ht{
	transform: scale(1.06);
}
.home-on-tra .hna-padding{
	margin-top: 23px;
}




/*----- new-arraival-sec-------------*/


.new-arraival-sec .na-mian-title{
	text-align: center;
}

.new-arraival-sec .na-mian-title h1{
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	margin: 0;
	text-align: center;
}

.new-arraival-sec .for-using-padding{
	padding-top: 45px;
}
.new-arraival-sec .na-mian-title .na-view-all{
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	display: inline-block;
	text-align: center;
	text-decoration: underline;
}
.new-arraival-sec .main-img-sec{
	position: relative;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
.new-arraival-sec .main-img-sec .image-inner{
	position: relative;
	display: block;
}
.new-arraival-sec .image-inner .image-effect{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all .2s ease-in-out;
} 
/*.new-arraival-sec .image-effect:hover{
	opacity: 1;
}*/


.main-content-sec-na:hover .image-effect{
	opacity: 1;
}

.new-arraival-sec .main-img-sec img{
	width: 100%;
	overflow: hidden;
}
.new-arraival-sec .main-img-sec .inner-content{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
}
.new-arraival-sec .main-img-sec .inner-content a{
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
}
.new-arraival-sec .main-img-sec .inner-content a.addto-cart{
	position: absolute;
	bottom: -30px;
	transition: all .3s ease-in-out;
	padding: 2px 13px;
}
.new-arraival-sec .main-img-sec .inner-content a.addto-wishlist {
  position: absolute;
  bottom: -30px;
  left: 88px;
  transition: all .4s ease-in-out;
}
.new-arraival-sec .main-img-sec .inner-content a.view-detail {
  position: absolute;
  bottom: -30px;
  left: 115px;
  transition: all .5s ease-in-out;
}
.new-arraival-sec .main-img-sec .inner-content a.view-cart {
  padding: a;
  position: absolute;
  bottom: -30px;
  left: 142px;
  transition: all .6s ease-in-out;
}
.new-arraival-sec .main-content-sec-na{
	/*background: #f1f0ee;*/
	box-shadow: 0 0 0px 1px #aaaa;
}
.new-arraival-sec .content-body{
	padding: 5px 20px 15px 20px;
}
.new-arraival-sec .content-body .new-title a{
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 700;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;

}
.new-arraival-sec .content-body .new-arraival-price h3{
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
}
.new-arraival-sec .content-body .new-arraival-price h3 span{
	text-decoration: line-through;
	font-size: 17px;
	margin-left: 10px;
	color: #777;
}
.new-arraival-sec .main-img-sec .inner-content a{
	color: #fff;
	background: #000;
	border-left: 0.01rem solid #aaaa;
	padding: 2px 5px;
}
.new-arraival-sec .main-img-sec .inner-content a.addto-cart:hover,
.new-arraival-sec .main-img-sec .inner-content a.addto-wishlist:hover,
.new-arraival-sec .main-img-sec .inner-content a.view-detail:hover,
.new-arraival-sec .main-img-sec .inner-content a.view-cart:hover{
	background: red;
}
.new-arraival-sec .main-img-sec:hover .inner-content a.addto-cart,
.new-arraival-sec .main-img-sec:hover .inner-content a.addto-wishlist,
.new-arraival-sec .main-img-sec:hover .inner-content a.view-detail,
.new-arraival-sec .main-img-sec:hover .inner-content a.view-cart
{
	bottom: 0;
}



.new-arraival-sec .load-more{
	display: block;
	text-align: center;
	margin-top:45px;
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 45px;
}
.new-arraival-sec .load-more a{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 700;
	font-size: 22px;
	margin: 0;
	text-transform: capitalize;
	display: inline-block;
	background: #000;
	padding: 10px 30px;
}
.new-arraival-sec .load-more a:hover{
	color: #fff;
}
#load-more-1{
	display: none;
}

/*----- new-arraival-sec //----------*/


/*----- onlineinout ----*/

.onlineinout {
	margin: 20px 0 0 0;
}
.onlineinout .main{
	background:/*linear-gradient(90deg, rgba(0,0,0,.8) 30%, rgba(0,0,0,.4) 70%) repeat scroll,*/url(assets/images/onlinein&out.png);
	background-size: cover;
	background-position: center;
}

.onlineinout .main .online-inner{
	margin: 45px 0;
	background: #fff;
	padding: 45px 20px;
	text-align: center;
	box-shadow: -20px -20px 0 0 rgba(255,255,255,.2);
}
.onlineinout .main .online-inner h6{
	text-transform: uppercase;
	color: #ff5500;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	margin: 0 0 10px 0;
	text-align: center;
	border: 1px solid #ff5500;
	padding: 4px 15px;
	animation: flipInX 2000ms infinite;
	display: inline-block;
	pointer-events: none;
}
.onlineinout .main .online-inner h5{
	animation: flipInX 2000ms infinite;
	text-transform: uppercase;
	color: #ff5500;
	font-weight: 500;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 28px;
	margin: 0;
	text-align: center;
	padding: 4px 15px;
	pointer-events: none;
}
.onlineinout .main .online-inner h1{
	animation: flipInX 2000ms infinite;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 42px;
	margin: 0 0 10px 0;
	text-align: center;
	padding: 4px 15px;
	pointer-events: none;
}
.onlineinout .main .online-inner a{
	text-transform: uppercase;
	color: #ff5500;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	margin: 0;
	text-align: center;
	border: 1px solid #ff5500;
	padding: 4px 15px;
	animation: flipInX 2000ms infinite;
}

/*----- onlineinout/// ----*/



/*-=- =-=-= featured-product -=-=-=-=*/


.featured-product{
	padding: 45px 0 45px 0;
}
.featured-product .fp-title h1{
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 26px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	pointer-events: none;
}
.featured-product .fp-title i{
	font-size: 22px;
	margin-right: 10px;
}
.featured-product .main-img-sec{
	position: relative;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
.featured-product .main-img-sec .image-inner{
	position: relative;
	display: block;
}
.featured-product .image-inner .image-effect{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all .2s ease-in-out;
} 
/*.featured-product .image-effect:hover{
	opacity: 1;
}*/


.main-content-sec-na:hover .image-effect{
	opacity: 1;
}

.featured-product .main-img-sec img{
	width: 100%;
	overflow: hidden;
}







.featured-product .main-img-sec .inner-content{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
}
.featured-product .main-img-sec .inner-content a{
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
}
.featured-product .main-img-sec .inner-content a.addto-cart{
	position: absolute;
	bottom: -30px;
	transition: all .3s ease-in-out;
	padding: 2px 13px;
}
.featured-product .main-img-sec .inner-content a.addto-wishlist {
  position: absolute;
  bottom: -30px;
  left: 88px;
  transition: all .4s ease-in-out;
}
.featured-product .main-img-sec .inner-content a.view-detail {
  position: absolute;
  bottom: -30px;
  left: 115px;
  transition: all .5s ease-in-out;
}
.featured-product .main-img-sec .inner-content a.view-cart {
  padding: a;
  position: absolute;
  bottom: -30px;
  left: 142px;
  transition: all .6s ease-in-out;
}
.featured-product .main-content-sec-na{
	background: #f1f0ee;
	box-shadow: 0 0 0 1px #aaaa;
}
.featured-product .content-body{
	padding: 10px 20px 10px 15px;
	background: #ffffff;
}
.featured-product .content-body .new-title{
	display: inline-grid;
	margin: 0;
}
.featured-product .content-body .new-title a{
	color: #7a7a7a;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
	display: inline-grid;


}
.featured-product .content-body .new-arraival-price h3{
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
	padding-top: 5px;
}
.featured-product .content-body .new-arraival-price h3 span{
	text-decoration: line-through;
	font-size: 13px;
	margin-left: 5px;
	color: #777;
}
.featured-product .main-img-sec .inner-content a{
	color: #fff;
	background: #000;
	border-left: 0.01rem solid #aaaa;
	padding: 2px 5px;
}
.featured-product .main-img-sec .inner-content a.addto-cart:hover,
.featured-product .main-img-sec .inner-content a.addto-wishlist:hover,
.featured-product .main-img-sec .inner-content a.view-detail:hover,
.featured-product .main-img-sec .inner-content a.view-cart:hover{
	background: red;
}
.featured-product .main-img-sec:hover .inner-content a.addto-cart,
.featured-product .main-img-sec:hover .inner-content a.addto-wishlist,
.featured-product .main-img-sec:hover .inner-content a.view-detail,
.featured-product .main-img-sec:hover .inner-content a.view-cart
{
	bottom: 0;
}

.featured-product .owl-carousel.owl-loaded{
	padding-top: 45px;
	/* margin-bottom: 45px; */
}
.featured-product .owl-nav {
  top: -40px;
  position: absolute;
  right: 10px;
}
.featured-product .owl-next {
  width: 35px;
  height: 28px;
  overflow: hidden;
  margin-left: 5px;
}
.featured-product .owl-next img{
	width: 100%;
	transition: all .2s ease-in-out;
}
.featured-product .owl-next:hover img{
	transform: translateY(-28px);
}
.featured-product .owl-prev {
  width: 35px;
  height: 28px;
  overflow: hidden;
}
.featured-product .owl-prev img{
	/*width: 100%;*/
	transition: all .2s ease-in-out;
}
.featured-product .owl-prev:hover img{
	transform: translateY(-28px);
}

.featured-product .owl-carousel .owl-stage-outer{
	padding-bottom: 5px;
	padding-top: 5px;
	margin-right: -7px !important;
	padding-left: 5px;
}
.featured-product .new-arraival-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.featured-product .new-arraival-price .stars i {
	font-size: 12px;
	color: red;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
}
/*-=- =-=-= featured-product// -=-=-=-=*/

/*-- top-sale-section-start --*/

/*-- top-sale-section-end --*/




/*--- for--newsletter ----*/

.home-nl{
	padding: 0px 0 0 0;
}
.home-nl .nl-title{
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	margin: 0;	
}
.home-nl .nl-main{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, #eae8e8 50%, #f5f5f5 50%) repeat scroll 0 0;
	padding: 35px 0 30px 0;
	margin: 50px 0 0 0;
}
.home-nl .nl-main .nl-main-title{
	border-top: 1px solid #cccccc;
	padding-top: 20px;
}
.home-nl .nl-main h2{
	position: relative;
	font-weight: 500;;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0 0 0 6px;
	color: #000;
}
.home-nl .nl-main i{
	padding: 12px;
	background: #000;
	color: #fff;
	font-size: 14px;
}
.home-nl .nl-main .hnl-form form{
	position: relative;
}
.home-nl .nl-main .hnl-form form input{
	width: 100%;
	outline: none;
	background: #fff;
	border: 1px solid #eee;
	padding: 6px 7px;
	height: 37px;
}
.home-nl .nl-main .nl-para{
	margin: 0;
	padding: 10px 0;
	color: #808080;
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}
.home-nl .nl-main .hnl-form .hnl-bt{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #000;
	height: 37px;
	padding: 5px 20px;
	margin: 0;
}
.home-nl .nl-main .hnl-icons a{
	display: inline-block;
}





/*--- footer ---*/
.footer .footer-main{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg,  #f5f5f5 50% , #eae8e8 50%) repeat scroll 0 0;
	padding: 45px 0 0 0;
}

.footer .footer-logo{
	width: 100px;
}
.footer .footer-main .footer-para{
	margin: 0;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	text-align: left;
	color: #000;
	padding: 20px 0;
	line-height: 22px;
}
.footer .footer-main .footer-info .inner{
	background: #eae8e8;
	margin-bottom: 8px;
}
.footer .footer-main .footer-info .inner i {
  width: 43px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #000;
  color: #eae8e8;
}
.footer .footer-main .footer-info .inner a{
	color: #000;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0 0 0 10px;
	display: block;
	width: 100%;		
	line-height: 20px;
}
.footer .footer-main .footer-info .inner a.for-coloring:hover{
	color: #000;
	text-decoration: none;
	cursor: default;
}
.footer .footer-main .footer-info .inner a:hover{
	color: #d79249;
	text-decoration: underline;
}



.footer .footer-main .footer-title {
  	font-size: 26px;
  	text-transform: uppercase;
  	font-weight: 600;
  	font-family: 'Barlow Condensed', sans-serif;
  	border-top: 2px solid #d4d5d6;
  	padding: 7px 0  15px 0;
  	pointer-events: none;
}
.footer .footer-main .footer-menu ul{
	list-style: none;
}
.footer .footer-main .footer-menu ul li{
	display: block;
	border-top: 0.01rem solid #d4d5d6;
	padding: 0;
	margin: 0;
}
.footer .footer-main .footer-menu ul li.for-light:hover{
	background: #f5f5f5;
}
.footer .footer-main .footer-menu ul li.for-dark:hover{
	background: #eae8e8;
}
.footer .footer-main .footer-menu ul li a{
	color: #000;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Barlow Condensed', sans-serif;
	text-transform: uppercase;
	padding: 10px 0;
	display: block;
	margin: 0;
	transition: all .2s ease-in-out;
}
.footer .footer-main .footer-menu ul li a:hover{
	padding-left: 10px;
}


.footer .footer-bottom{
	background: #000;
	padding: 30px 0;
	margin: 20px 0 0 0;
}
.footer .copy-right-title{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-align: left;
	margin: 0;
}
.footer .for-pp{
	text-transform: capitalize;
	text-decoration: underline;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 17px;
}



/*=== contect-page-css ===*/
.contect-main-page{
	padding: 0;
}
.contect-img img{
	width: 100%;
}
.contect-main-page .contect-img{
	position: relative;
}
.contect-main-page .contect-img .gettech{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.7);
	flex-direction: column;
}
.contect-main-page .contect-img .gettech h1{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:700;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	flex-direction: column;
	margin: 0;
	padding-top: 60px;
}
.contect-main-page .contect-img .gettech p{
	margin: 0;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 22px;
}
.contect-main{
	padding: 80px 0 0px 0;
}
.contect-main .main-form {
  box-shadow: 0 0 6px -3px #000;
  margin: 0 20px 0px 0px;
  padding: 20px;
}
.contect-main .title h1{
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 28px;
	margin: 0;
}

.contect-main form{
	padding-top: 20px;
}
.contect-main form input{
	box-shadow: none !important;
	border-radius: 0;
	outline: none;
	background: #fff;
	border: 1px solid #eee;
	padding: 6px 7px;
	font-size: 12px;
	margin: 10px 0;
	font-family: 'Barlow Condensed', sans-serif;

}
.contect-main form input:focus{
	border: 0.01rem solid rgba(0,0,0,.4);
}

.contect-main form textarea{
	font-family: 'Barlow Condensed', sans-serif;
	width: 100%;
	background: #fff;
	border: 1px solid #eee;
	padding: 6px 7px;
	outline: none;
	font-size: 12px;
	margin: 10px 0;
}
.contect-main form textarea:focus{
	border: 0.01rem solid rgba(0,0,0,.4) !important;
}

.contect-main .contect-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: 100%;
  }
.contect-main .contect-right .title{
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size:24px;
	text-align: left;
	text-transform: capitalize;
}
.contect-main .contect-right .forpara{
	margin: 0;
color: #000;
font-size: 18px;
font-family: 'Barlow Condensed', sans-serif;
font-weight: 300;
font-style: normal;
line-height: 22px;
/* margin-bottom: 20px; */
}

.contect-main .contect-right .help{
	margin-top: 20px;
}
.contect-main .contect-right .help a{
	display: flex;
	align-items: center;
	font-family: 'Barlow Condensed', sans-serif;
	text-decoration: none;
	color: #0b9ad3;
}
.contect-main .contect-right .help a .fa-solid{
	color: #000;
	font-size: 20px;
	font-weight: 900;
	text-decoration: none;
	padding-bottom: 12px;
}
.contect-main .contect-right .help a span {
	color: #0b9ad3;
	text-transform: capitalize;
	margin-left: 10px;
	border-bottom: 0.021rem solid hsl(0, 0%, 87%);
	display: block;
	width: 100%;
	padding: 0 0 15px 0;
	text-decoration: underline;
  }

.contect-main form .col-auto{
	margin-top: 5px;
	width: 100%;
}
.contect-main form .col-auto .btn{
	background: #000;
	color: #ddd;
	width: 100%;
	border-radius: 0;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-transform: capitalize;
}
.contect-main .right-form{
	width: 100%;
}
.contect-main-page .google-location{
	/* background: #d1d1d1; */
	padding: 45px 0 0 0;
}



/* product-page-start */
.product-section{
	padding:  0 0 45px 0;
}
.mens-page .product-menu{
	margin-bottom: 20px;
}
.mens-page .product-menu,
.product-section .product-menu{
	font-family: 'Barlow Condensed', sans-serif;
	margin-bottom: 20px;
	margin-left: 2px;
}
.mens-page .product-menu li.breadcrumb-item a,
.product-section .product-menu li.breadcrumb-item a{
	font-size: 14px;
	color: #000 !important;
	text-transform: capitalize;
	text-decoration: none;
}
.product-section .breadcrumb {
	margin: 0;
  }
.product-section .pm-title h1{
	font-size: 42px;
	font-family: 'Barlow Condensed', sans-serif;
	color: #000;
	font-weight: 800;
	text-transform: capitalize;
	margin: 0;
	display: block;
	line-height: 45px;
	letter-spacing: 1px;
	user-select: none;
}
.product-section .product-rating{
	display: flex;
	max-width: 150px;
	align-items: center;
	justify-content: space-between ;
	margin-top: 10px;
}
.product-section .pt-start {
	display: flex;
	
}
.product-section .pt-start i{
	color:rgb(240, 0, 0);
	font-size: 12px;	
	padding: 0 1px;
}
.product-section .product-rating .pt-num p{
	margin: 0;
	display: inline-block;
	color: #969696;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 14px;
	pointer-events: none;
	user-select: none;
}

.product-section .p-price{
	display: flex;
	align-items: center;
	margin-top: 7px;
}
.product-section .p-price .total-price{
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	font-style: normal;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 26px;
	margin: 0;
	text-align: left;
	display: flex;
	align-items: center;
	line-height: 25px;
}
.product-section .p-price .total-price span{
	margin-left: 20px;
	font-size: 17px;
	text-decoration: line-through;
	color: #969696;
	font-weight: 500;
}
.product-section .p-content p{
	margin: 10px 0 0 0 ;
	color: #808080;
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}



/* color */

.csq-product .inner-color{
	order: none;
	background: transparent;
	padding: 2px 10px 2px 9px;
	appearance: none;
	width: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	border-radius: 5px;
	position: relative;
}

.csq-product.d-flex{
	margin-top: 8px;
	cursor: default;
	justify-content: space-between;
	align-items: center;
}
.csq-product .color-title{
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000;
	text-align: center;
	text-transform: capitalize;
	margin: 0 0 6px 0 ;
}

.csq-product input[type=radio]{
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	padding: 1px;
	border: 1px solid transparent;
	/* background: #000; */
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Barlow Condensed', sans-serif;
}
.c-white{
	padding: 4px 2px 0px 2px;
	border-radius: 5px;
	/* border: 1px solid #0b9ad3; */
	font-family: 'Barlow Condensed', sans-serif;
}

.c-white input[type="radio"]:after{
	position: absolute;
	content: '';
	width: 16px;
	height: 16px;
	margin: auto;
	/* border: 1px solid green; */
	background: #000;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Barlow Condensed', sans-serif;
}
.c-white.green input[type="radio"]:after{
	background: #a8e349;
	border-radius: 5px;
}
.c-white.red input[type="radio"]:after{
	background: #ccd0d1;
	border-radius: 5px;
}



input[type="radio"]:checked{
	/* background: red;  */
	border: 1px solid #000;
}
.c-white.green input[type="radio"]:checked{
	border: 1px solid  #a8e349;
}
.c-white.red input[type="radio"]:checked{
	border: 1px solid  #ccd0d1;
	border-radius: 5px;
}



/* size */

.csq-product .size .select {
	border: none;
	background: transparent;
	padding: 4px 10px 4px 9px;
	appearance: none;
	width: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	border-radius: 5px;
	color: #000;
	font-size: 16px;
	position: relative;
	font-family: 'Barlow Condensed', sans-serif;
}
.csq-product  .size .select:before{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	top: 0;
	right: 0;
	z-index: 10;
}
.csq-product  .quentity .input-q{
	width: 100px;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	background: #ffff;
	border: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	border-radius: 5px;
	padding: 4px 10px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
}

.product-section .product-btn{
	margin: 20px 0 0 0 ;
}

.product-section .product-btn .inner-bnt.d-flex {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
  }
.product-section button.addtocart {
	border: 1px solid #000;
	padding: 5px 0px 8px;
	margin: 0 10px 0 0;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	letter-spacing: .3px;
	font-weight: 600;
	background: #ffff;
	color: #000;
	width: 100%;
  }
.product-section button.addtowishlist {
	background: #ffff;
	color: #000;
	border: 1px solid #000;
	padding: 5px 0px 8px;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	letter-spacing: .3px;
	font-weight: 600;
	width: 100%;
  }

  .product-section button.buynow{
	border: 1px solid #000;
	padding: 5px 0px 8px;
	text-transform: capitalize;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	letter-spacing: .3px;
	font-weight: 600;
	background: #000;
	color: #fff;
	width: 100%;
  }
button.addtowishlist:hover,
button.addtocart:hover{
	background: #000;
	color: #ffff;
  }  


  /* product-slider */
.product-slider{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	/* align-items: center; */
}
.product-slider .slider-left{
	width: 20%;
	height: 533px;

}
.product-slider .slider-left img{
	width: 100%;
	height: 135px;
}
.product-slider .slider-right{
	width: 80%;
	height: 533px;
	padding-left: 10px;
}
.product-slider .slider-right img{
	width: 100%;
	height: 533px;
	object-fit: fill;
}
.product-slider .slick-prev.slick-arrow,
.product-slider .slick-next.slick-arrow{
	display: none !important;
	position: relative;
}
.product-slider .slick-prev.slick-arrow::after{
	position: absolute;
	top: 0;
	content: '';
	width: 20px;
	height: 20px;
	background: #000;
	left: 0;
	display: block !important;
}
.accordion{
	margin-top: 10px;
}
.accordion-button{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 17px;
	padding: 10px 0;
	font-weight: 600;
	letter-spacing: .3px;
}
.accordion-button:focus{
	color: #000;
}
.accordion-button {
	box-shadow: none !important;
	background: none !important;
  }
.accordion-button::after {
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-top: 12px solid;
	border-left: 5px solid transparent;
	background-image: none !important;
}
.f-shipping{
	margin-top: 10px;
	background: #ffff;
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	letter-spacing: .3px;
	font-weight: 600;
	width: 100%;
}
/* .slick-slide.slick-current.slick-center {
} */
.product-section .pro-banner{
	position: relative;
	margin-bottom: 45px;
}
.product-section .pro-banner img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	overflow: hidden;
}
.product-section .probanner-titlr{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.8);
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 42px;
	text-align: center;
	padding: 10px 0 11px 0;
	margin: 0;
	user-select: none;
}


/* ========serponsive ========== */
@media only screen and (max-width:375px){
	.product-slider .slider-right img{
		height: 300px;
	}
	.slick-track{
		height: 100% !important;
	}
	.product-slider .slider-left img {
		height: 74px;
		width: 100%;
		object-fit: cover;
	  }
	  .forpadding{
		padding-top: 20px;
	  }
	.product-slider{
		height: 300px;
	}
}



/* ====================  Mens-page-section-start =============== */

.mens-page{
	padding: 45px;
}



/* left-sec */

.mens-page  h1.title,
.mens-page  h1.title{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Barlow Condensed', sans-serif;
	pointer-events: none;
	user-select: none;
}

.mens-page  .fb-peice{
	margin-top: 30px;
	padding: 25px 0 0 0;
	border-top: 1px solid #e5e5e5;
}
.mens-page .men-product .np-menu li{
	display: block;
	margin: 10px 0;
}
.mens-page .men-product .np-menu li a{
	color: rgb(122, 122, 122);
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	overflow: hidden;
	transition: all .1s ease-in;
}
.mens-page .men-product .np-menu li a:hover{
	color: #000;
}

.mens-page .fb-peice .fbp-check .check-inner{
	display: flex;
	align-items: center;
	margin-top: 10px;
} 
.mens-page .fb-peice .fbp-check .check-inner label{
cursor: pointer;
user-select: none;
}
.mens-page .fb-peice .fbp-check .check-inner input[type=checkbox]{
	appearance: none;
	width: 20px;
	top: 5px;
	height: 20px;
	position: relative;
	-webkit-appearance: none;
}
.mens-page .fb-peice .fbp-check .check-inner input[type=checkbox]::before{
	width: 100%;
	height: 100%;
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	border: 1px solid #aaaaaa;
	transition: .2s;
}
.mens-page .fb-peice .fbp-check .check-inner input:checked[type=checkbox]::before{
	border: 3px solid #000;
	border-top: none;
	border-left: none;
	width: 10px;
	transform: rotate(45deg);
	border-color: #000;
}


.mens-page .fb-color{
	padding-top: 25px;
	margin-top: 30px;
	border-top: 1px solid #e5e5e5;
}
.mens-page .fb-color .radio-inner {
	/* width: 197px; */
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
  }
.mens-page .fb-color .radio-inner .radiocolor{
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	top: 0;
	width: 22px;
	height: 22px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 60%;
}
.mens-page .fb-color .radio-inner div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mens-page .fb-color .radio-inner input[type=radio]{
	border: 2px solid rgb(211, 211, 211);
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.mens-page .fb-color .radio-inner .radiocolor::before{
	position: absolute;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	background-color: rgb(211, 0, 0);
	border-radius: 60%;
	cursor: pointer;
	margin: 3px 0 0 3px;
}
.mens-page .fb-color .radio-inner input:checked[type=radio]{
	border: 2px solid #000;
}

.mens-page .fb-color .radio-inner .radiocolor.color1::before{
	background-color: rgb(245, 0, 0);
}
.mens-page .fb-color .radio-inner .radiocolor.color2::before{
	background-color: rgb(0, 86, 245);
}
.mens-page .fb-color .radio-inner .radiocolor.color3::before{
	background-color: rgb(0, 0, 0);
}

.mens-page .fb-color .radio-inner .radiocolor.color4::before{
	background-color: rgb(102, 119, 167);
}
.mens-page .fb-color .radio-inner .radiocolor.color5::before{
	background-color: rgb(251, 255, 0);
}

.mens-page .fb-color .radio-inner .radiocolor.color6::before{
	background-color: rgb(102, 255, 0);
}
.mens-page .fb-color .radio-inner .radiocolor.color7::before{
	background-color: rgb(255, 4, 213);
}


/* --- size --- */

.mens-page .fb-size {
	padding: 30px 0 10px 0;
	margin: 30px 0 10px;
	border-top: 1px solid #e5e5e5	;
  }
.mens-page .fb-size .fbs-innner {
	/* width: 225px; */
	margin-top: 20px;
  }
.mens-page .fb-size ul{
	clear: both;
	overflow: hidden;
	padding-bottom: 1px !important;
}
.mens-page .fb-size ul li input{
	display: none;
}
.mens-page .fb-size ul li label {
	padding-left: 0;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 41px !important;
	cursor: pointer;
	z-index: 1;
	font-size: 14px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	color: #000;
	user-select: none;
}

.mens-page .fb-size ul li{
	width: 50px;
height: 50px;
vertical-align: middle;
text-align: center;
cursor: pointer;
font-size: 13px;
border: 1px solid #e4e4e4;
margin-right: -1px;
margin-bottom: -1px;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
transition: all .4s ease;
position: relative;
z-index: 10;
/* display: inline-block; */
float: left;
font-family: 'Barlow Condensed', sans-serif;
font-weight: 500;
}
.mens-page .fb-size ul li input[type=checkbox] + label::after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	color: #fff;
	width: 100%;
	height: 100%;
	border: 0;
	z-index: -1;
	font-family: 'Barlow Condensed', sans-serif;
}
.mens-page .fb-size ul li label:hover{
	background: #f5f5f5;
	color: #000;
}
.mens-page .fb-size ul li input[type=checkbox]:checked + label::after{
	background: #000;
}
.mens-page .fb-size ul li input[type=checkbox]:checked + label{
	color: #ffff;
	z-index: 11;
}
/* left-sec-end */


.mens-page .container-fluid{
	max-width: 1310px;
	width: 100%;
}
.mens-page .container-fluid .mrt-sec{
	display: flex;
}
.mens-page .container-fluid .mrt-sec .for-postoning{
	position: relative;
	overflow: hidden;
}
.mens-page .container-fluid .mrt-sec .for-postoning:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	transition: all .4s ease-in-out;
}
.mens-page .container-fluid .mrt-sec a:hover .for-postoning:after{
	background-color:rgba(255, 255, 255, .3);
}

.mens-page .container-fluid .mrt-sec .mrt-inner a{
	position: relative;
	display: block;
	overflow: hidden;
}
.mens-page .container-fluid .mrt-sec .mrt-inner a:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(255, 255, 255, .5);
	width: 100%;
	height: 100%;
	display: flex;
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
	transition: all .3s ease-in-out;
}
.mens-page .container-fluid .mrt-sec .mrt-inner a:hover::after{
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0)
}


.mens-page .container-fluid .mrt-sec .mrt-inner a img{
	width: 100%;
}

.mens-page .fb-select{
	margin-top: 45px;
}
.mens-page .fb-select select.select{
	padding: 15px 15px 15px 15px ;
	text-transform: uppercase;
	color: #000;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
	font-weight: 400;
	/* appearance: none;
	-webkit-appearance: none; */
	outline: none;
	border: none;
	width: 250px;
	position: relative;
	border-right: 10px solid #e9e9ed ;
	background: #e9e9ed;
}
.mens-page .fb-select select option{
	/* color: #000;
	font-family: 'Barlow Condensed', sans-serif; */
	font-size: 20px;
	/* font-weight: 400; */
	
}
.mens-page .fb-select select.select:after{
	position: absolute;
	content: 'fdfsd';
	width: 20px;
	height: 20px;
	border-top: transparent;
	border-right: transparent;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	top: 0;
	right: 0;
}

.mens-page .fb-main-padding{
	margin-bottom: 20px;
}

.mens-page .pagination {
	display: flex;
	justify-content: center;
}
.mens-page .pagination .page-item:first-child .page-link,
.mens-page .pagination .page-item:last-child .page-link{
	border-radius: 0 !important;
}
.mens-page .pagination a{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 17px;
	color: #a8a8a8;
	box-shadow: none;
}
.mens-page .pagination i{
	font-size: 17px;
	color: #a8a8a8;
}
.mens-page .pagination.page-item {
	width: 40px;
	height: 40px;
	text-align: center;
  }
.mens-page .pagination a:hover,
.mens-page .pagination a:hover i{
	color: #000;
}
.mens-page nav{
	margin-top: 10px;
	margin-bottom: 15px;
}
.mens-page .fb-select .d-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mens-page .fb-select .d-flex .fbsi-filter{
	display: none;
}
/* ====================  Mens-page-section-end =============== */



/* ====================  testimonial-start =============== */
.testimonial{
	padding: 25px 0 5px 0;
}
.testimonial .tsml-main{
	width: 100%;
	padding: 90px 0;
	/* height: 100vh; */
	background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)),url(assets/images/testimonial.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.testimonial .tsml-main .testimonial-slider .inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-inner{
	width: 150px;
	height: 150px;
	margin: auto;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-inner img{
	width: 100%;
	border-radius: 100%;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-rating {
	text-align: center;
	margin-top: 15px;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-rating .rating-t i{
	color: red;
	font-size: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-rating h1.tsml-title{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	/* padding: 10px 0 11px 0' */
	margin: 12px 0 0 0;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.testimonial .tsml-main .testimonial-slider .inner .tsml-rating p{
	margin: 12px 0 0 0;
	color: #ffffff;
	font-size: 22px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0 25px 0 15px;
	/* line-height: 22px; */
}
.testimonial .tsml-main .testimonial-slider .fa-solid.fa-angle-left{
	color: #fff;
	position: absolute;
	align-items: center;
	top: 50%;
	transform: translate(-50%);
	font-size: 20px;
	cursor: pointer;
	/* border: 1px solid #a8a8a8; */
	padding: 10px;
	/* width: 20px;
	height: 20px; */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.testimonial .tsml-main .testimonial-slider .fa-solid.fa-angle-left:befor{
	/* width: 100%; */
	/* padding: 15px; */
	display: flex;
	padding: 15px;
}


.testimonial .tsml-main .testimonial-slider .fa-solid.fa-angle-right{
	color: #fff;
	position: absolute;
	align-items: center;
	top: 50%;
	transform: translate(-50%);
	font-size: 20px;
	cursor: pointer;
	/* border: 1px solid #a8a8a8; */
	/* padding: 10px; */
	/* width: 20px;
	height: 20px; */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	right: 0;
}
.testimonial .tsml-main .testimonial-slider .fa-solid.fa-angle-right:befor{
	/* width: 100%; */
	/* padding: 15px; */
	display: flex;
	padding: 15px;
}
/* ====================  testimonial-end =============== */

/* ================= our-story-start ================ */

.our-story{
	padding: 45px 0;
}
.our-story .os-body h1.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 26px;
	text-align: center;
	/* padding: 10px 0 11px 0; */
	margin: 0 12px 0 10px;
}
.our-story .os-body h1.title i{
	padding-right: 10px;
}
.our-story .os-body img{
	width: 100%;
}
.our-story .os-body h1.title a{
	font-size: 17px;
	color: #a8a8a8;
}
.our-story .os-body h1.title a:hover{
	color: #000;
}
.our-story .os-body .os-content-box{
	padding: 10px 0;
}
.our-story .os-body .os-content-box .title{
	color: rgb(85, 85, 85);
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	/* padding: 10px 0 11px 0; */
	margin: 0;
	text-transform: capitalize;
}
.our-story .os-body .os-content-box .title:hover{
	color: #000;
}
.our-story .os-body .os-content-box h3{
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #7a7a7a;
	text-transform: capitalize;
	margin-top: 5px;
}
.our-story .os-body .os-content-box h3 span{
	color: #000;
	padding: 0 5px 0 5px;
}
.our-story .os-body .os-content-box h3 span:hover{
	color: #7a7a7a;
}
.our-story .os-body .os-content-box p{
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #7a7a7a;
	text-transform: capitalize;
	margin: 0 0 4px 0;
}
.our-story .os-body .ost-content{
	margin: 0 10px 0 ;
}
.our-story .ost-slider{
	padding-top: 45px;
}
.our-story .read-more{
	display: inline-block;
	text-transform: capitalize;
	color: #686868;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 17px;
}
.our-story .read-more:hover{
	color: #000;
}

/* ================= our-story-end ================ */