::selector{
	background: #000;
	color: #fff;
}

@media only screen and (max-width: 991px){
	.fordisplay{
		display: none;
	}
	.mens-page .fb-select .d-flex .fbsi-filter{
		display: block;
	}
	.mens-page .fb-select .d-flex .fbsi-filter i{
		font-size: 17px;
	}
}

@media only screen and (max-width: 767px){
	.main-header .header-inner .d-flex .header-left .navigation ul{
		display: none;
	}
	.main-header .header-inner .d-flex .header-left .menu-bar{
	display: block;
	cursor: pointer;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant h4{
		font-size: 42px;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant h1{
		font-size: 42px;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant p{
		font-size: 16px;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant a{
		font-size: 14px;
		padding: 4px 20px;
	}


.home-on-tra{
	padding-bottom: 0;
}




	.footer .footer-main .footer-info .inner{
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, #eae8e8 50% ,  #f5f5f5 50%) repeat scroll 0 0;
	}
	.footer .footer-main .footer-para{
		text-align: center;
	}

	/*---- for-footer ----*/
	.home-nl .nl-main .nl-main-title{
		text-align: center;
		font-size:14px;
	}
	.home-nl .nl-main .d-flex.responsive-tab{
		justify-content: center;
		text-align: center;
		display: flex;
	}
	.home-nl .nl-title{
		font-size:20px;
	}
	.home-nl{
		padding: 30px 0 0 0 ;
	}
	.home-nl .nl-main{
		padding: 30px 0;
		margin: 30px 0 0 0;
	}

	.footer .footer-main{
		text-align: center;
	}
	.footer .footer-main .footer-menu ul li.for-light:hover{
		background: rgba(0, 0, 0, 0) linear-gradient(90deg, #eae8e8 50% ,  #f5f5f5 50%) repeat scroll 0 0;
	}
	.footer .footer-main .footer-menu ul li.for-dark:hover{
		background: rgba(0, 0, 0, 0) linear-gradient(90deg, #eae8e8 50% ,  #f5f5f5 50%) repeat scroll 0 0;
	}
	.footer .footer-main-content {
  		margin: 0px 0 10px 0;
  		padding: 10px 0 0 0;
	}
	.footer .copy-right-title{
		text-align: center;
	}
	.footer .for-pp{
		text-align: center;
		padding-top: 10px;
		justify-content: center !important;
	}
	.home-on-tra .for-res-margin{
		margin-top: 23px;
	}

}



/*--- maax-width: 428px ----*/
@media only screen and (max-width: 428px){
	.main-header .header-inner .icon {
  		width: 17px;
	}
	.main-header .header-inner .d-flex .header-right .header-icons .hicon-main{
		margin-left: 20px;
	}
	.main-header .header-inner .d-flex .header-right .header-icons .hicon-main  .fa-solid.fa-gear {
  		font-size: 17px;
  		padding-top: 10px;
	}

	/*----- banner-slider -----*/

	.home-banner .banner-slider .home-banner-inner .banner-contant h4{
		font-size: 16px;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant h1{
		font-size: 16px;
		padding: 0 0 3px 0;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant p{
		font-size: 10px;
		padding-bottom: 6px;
	}
	.home-banner .banner-slider .home-banner-inner .banner-contant a{
		padding: 2px 16px 3px 16px;
		font-size: 10px;
	}
}


	/*-- max-width: 360 ----*/
@media only screen and (max-width: 360px){
	.announcement-bar .bar-inner .container h1{
		font-size: 14px;
	}
	.announcement-bar .bar-inner .container ul li{
		font-size: 14px;
		padding-bottom: 9px !important;
	}
	.main-header .header-inner .d-flex .header-right .header-icons .hicon-main  .fa-solid.fa-gear {
  		font-size: 14px;
	}
	.main-header .header-inner .icon {
  		width: 14px;
	}
	.main-header .header-inner .d-flex .header-right .header-icons .hicon-main{
		margin-left: 14px;
	}
}